body{
max-width: 100%;
word-break: break-all;
word-wrap: break-word;
}
a{
text-decoration: none;
color: #444;
}
a:hover{text-decoration: none;}
img{
  display: block;
  max-width: 100%;
}
/*导航*/
.navbar-brand{
  background-image: url(../images/logo.jpg);
  width:50px;
  background-size:74%;
  background-repeat:no-repeat;
  background-position: center center;
}
/*左侧导航菜单*/
img .side-bar .list-group-item{
border-radius: 3px;
}

.side-bar .list-group-item{
border:0;

margin-bottom: 5px;
}

.side-bar .list-group-item.active{
  background-color: #ea0c3c;
}


/*内容*/
.news-list-item{
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}
.news-list-item:first-child{
  margin-top: 0;
}
.news-list .title{
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.8;
}
.news-list .title:hover{
  color: #337ab7;
}
.news-list .info{
  color:#888;
  font-size: 14px;
}
.info .cla{color:#ea0c3c;border: 1px solid #000;}
.avatar{
  display: inline-block;
}
.avatar img{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
/*右侧*/
.side-bar-right{
  border-radius: 3px;
  background-color: #f2f2f2;
  margin-top: 15px;
  padding: 10px 0;
  height:auto;
  min-height: 100px;

}
.side-bar-right .right-title{
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.side-bar-right .right-title,
.side-bar-right.right-content.list.item{
  padding: 10px 15px;
}

/*底部*/
.blank_page{
  height: 70px;
  width: inherit;

}
.blank_page180{
  height: 180px;
  width: inherit;

}
.footer{
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  color: #999;
}
/*login.html*/
.container-body{
  max-width: 500px;
}
.form-group a{
  color:#0033CC;
  text-decoration: underline;
}
.form-group a:hover{
background: #ccc;
}
.form-group .login-forget a{
  color:#666;
  text-decoration: none;
}
.form-group .login-forget a:hover{
  text-decoration: underline;
}



/*reg.html*/



/*newsid.html*/
.news-title{
  line-height: 1.3;
  max-width: inherit;

}
.news-status{
  color: #999;
}
.news-content{
  text-align: justify;
  padding-top: 20px;
  font-size: 15px;
  line-height: 1.5;
}
.statement{
  background-color: #f2f2f2;
  font-size: 13px;
  color: #999;
  line-height: 1.5;
  margin-top: 20px;
}
.news-content img {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*newsid右侧*/
.news-popular .news-newtitle{
  padding: 10px 0;
}
.news-new .news-newtitle, .news-popular .news-popular-title{
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
  margin-bottom:10px;
  background:#f2f2f2;
  border-top:1px solid #ccc ;
}
.news-new .list-line,.news-popular .list-line
{
  border-bottom: 1px dashed #ccc;
}


.news-popular{
  padding-top: 10px;
}
.news-right .grey-color{
  color:#666 ;
  font-size: 12px;
}
.news-right a{
  font-size: 12px;
  color:#0033CC;
}
.news-right a:hover{
  background: #ccc;
  text-decoration: underline;

}
.news-right{
  line-height: 1.5;
}
